.bitter-font {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#events a,
#award a {
    text-decoration: underline;
    font-family: "Bitter", serif;
    font-weight: semibold;
}
