---
layout: default
---

<section id="events" class="container mx-auto md:w-3/4 px-6 pb-12">
    <h1 class="bella-font text-3xl text-center py-6">Upcoming Events</h1>

    {% assign yesterday = 'now' | date: '%s' | minus: 86400 | date: '%Y-%m-%d
    23:00:00' %}
    <section class="mb-10">
        <p class="text-center pb-10">
            <a
                id="calendar-link"
                href="{{ site.calendar_url }}"
                class="italic underline text-sm"
                >subscribe</a
            >
        </p>
        <div class="grid gap-6 md:grid-cols-3 md:pl-16">
            {% ical url: {{site.calendar_url}} after_date: {{yesterday}} limit:
            6 %}
            <div>
                <h3 class="bella-font text-xl pb-1">{{ event.summary }}</h3>
                <p class="italic text-lg pb-1">
                    {{ event.start_time | date: '%A %B %d' }}
                </p>
                <p class="italic text-lg pb-3">
                    {{ event.start_time | date: '%-I:%M %P' }} – {{
                    event.end_time | date: '%-I:%M %P' }}
                </p>
                <p class="text-base">{{ event.simple_html_description }}</p>
            </div>
            {% endical %}
        </div>
    </section>
    {% include mailerlite.html %}
</section>
