---
layout: default
---

<section id="about" class="mx-auto w-4/5 md:w-1/2 text-center">
    <h2 class="bella-font text-2xl mx-auto pb-2">About</h2>

    <h2 class="text-lg lg:text-2xl mx-auto pb-2">
        a <em class="bella-font">darling</em> lil’ bar for
        <strong class="bella-font">darling</strong> lil’ people A full-service
        bar and bottle shop dedicated to the idea that <br />
        <span class="bella-font">"Everyone deserves a seat at the table"</span>
        <br />
        <br />
        Wine doesn’t have to be pretentious or intimidating—it’s just grape
        juice! <br />
        Drinking should be fun. At Darling, you can learn about wine as much or
        as little as you like. <br />
        <span class="bella-font font-bold"
            >Natural, Low Intervention, Low/No Sulfites Wines</span
        >
    </h2>
    <p>{{site.data.winebar.about}}</p>
</section>
{{content}} {% include bartenders.html %} {% include mailerlite.html %}
